<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css'>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <style>
        /* Dropdown Button */
        /*.dropbtn {*/
        /*    background-color: #4CAF50;*/
        /*    color: white;*/
        /*    padding: 16px;*/
        /*    font-size: 16px;*/
        /*    border: none;*/
        /*}*/

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('accueil-page') }}">Revue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('accueil-page') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user-index') }}">Espage User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('reviewer-index') }}">Espage Reviewer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin-index') }}">Espage Admin</a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('article-new') }}">Add Article</a>#}
{#                        </li>#}
                        <li class="nav-item">
                            {###############################################################################}
                            {###########  https://www.w3schools.com/howto/howto_css_dropdown.asp  ##########}
                            {###############################################################################}
                            <div class="dropdown">
                               <a class="nav-link" href="{{ path('article-index') }}">Articles</a>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="{{ path('article-new') }}">Add Article</a>
                                    <a class="nav-link" href="{{ path('article-new') }}">Add Article</a>
                                    <a class="nav-link" href="{{ path('article-new') }}">Add Article</a>

                                </div>
                            </div>
                        </li>

                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user-index') }}">Espage User</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_REVIEWER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('reviewer-index') }}">Espage Reviewer</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_AUTEUR') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('article-index') }}">Espage Auteur</a>
                            </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <div>
                    <span class="nav-item text-left">
                        <a class="nav-link" href="{{ app.user ?  path('logout')  :  path('login') }}">
                            {{ app.user  ? 'Logout' : 'Login' }}
                        </a>
                    </span>
                </div>


{#                <form class="form-inline my-2 my-lg-0">#}
{#                    <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
{#                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
{#                </form>#}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
