{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}

{% block body %}
    <style>
{#        fieldset#}
{#        {#}
{#            border: 1px solid #ddd !important;#}
{#            margin-top: 20px;#}
{#            xmin-width: 0;#}
{#            padding: 10px;#}
{#            position: relative;#}
{#            border-radius:4px;#}
{#            background-color:#f5f5f5;#}
{#            padding-left:10px!important;#}
{#            left: 232px;#}
{#        }#}

{#        legend#}
{#        {#}
{#            font-size:14px;#}
{#            font-weight:bold;#}
{#            margin-bottom: 0px;#}
{#            width: 35%;#}
{#            border: 1px solid #ddd;#}
{#            border-radius: 4px;#}
{#            padding: 5px 5px 5px 10px;#}
{#            background-color: #ffffff;#}
{#        }#}
{#        .form-group.required .control-label:after {#}
{#            content:"*";#}
{#            color:red;#}
{#        }#}
        .hidden{
            display: none!important;
        }
        .show{
            display: block!important;
        }
    </style>

    {{ form_start(formArticle, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container d-flex justify-content-center m-5 pb-5">
        <fieldset class=" col-md-10">

            <div class="A">
                <legend class="col-md-5"> Category</legend>

                <div class="form-group required">
                    {{ form_label(formArticle.categorie, "categorie :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formArticle.categorie) }}
                    </div>
                </div>

                <div class="form-group required">
                    {{ form_label(formArticle.revue, "revue :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(formArticle.revue) }}
                    </div>
                </div>

                <label for="" class="btn btn-primary" id="A">Suivant</label>

            </div>

        {###################################################################################}

            <div class="B hidden">
                <legend class="col-md-5"> Article</legend>

            <div class="form-group  required">
                {{ form_label(formArticle.title, "Title : ", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(formArticle.title,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="form-group required">
                {{ form_label(formArticle.abstract, "abstract :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(formArticle.abstract) }}
                </div>
            </div>

            <div class="form-group required">
                {{ form_label(formArticle.keyword, "keyword :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(formArticle.keyword) }}
                </div>
            </div>

            <div class="form-group required">
                {{ form_label(formArticle.content, "content :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(formArticle.content) }}
                </div>
            </div>

            <div class="form-group required">
                {{ form_label(formArticle.size, "size :", {'label_attr': {'class': 'col-sm-6 control-label requis'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(formArticle.size) }}
                </div>
            </div>
                <label for="" class="btn btn-primary" id="B">Suivant</label>
            </div>
        </fieldset>

        {###################################################################################}

        <div class="C hidden">
            <div class="form-group required" style="width: 500px;">
                <div class="col-sm-9">
{#                    <fieldset class="border col-md-12">#}
                        <legend class="col-md-10"> Auteur</legend>
                        {{ form_row(formArticle.auteurs) }}
                        <a href="#" id="add_auteur" class="btn btn-outline-info">Ajouter un Auteur</a>
{#                    </fieldset>#}
                </div>
            </div>
                <button type="submit" class="btn btn-primary" id="articleStatus" style="margin-left: 15px;margin-top: 62px;width: 350px;">
                    Enregistrer
                </button>
        </div>
    </div>
    {{ form_end(formArticle) }}

{% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {# Voici le script en question :#}
        <script type="text/javascript">
            $(document).ready(function() {
                // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
                var $container = $('div#article_auteurs');

                // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
                var index = $container.find(':input').length;

                // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
                $('#add_auteur').click(function(e) {
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    e.stopPropagation();
                    addCategory($container);
                    return false;
                });

                // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                if (index == 0) {
                    addCategory($container);
                } else {
                    // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                    $container.children('div').each(function() {
                        addDeleteLink($(this));
                    });
                }

                // La fonction qui ajoute un formulaire GroupeAuteurType
                function addCategory($container) {
                    // Dans le contenu de l'attribut « data-prototype », on remplace :
                    // - le texte "__name__label__" qu'il contient par le label du champ
                    // - le texte "__name__" qu'il contient par le numéro du champ
                    var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Auteur' + (index+1))
                        .replace(/__name__/g,        index)
                    ;

                    // On crée un objet jquery qui contient ce template
                    var $prototype = $(template);

                    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                    addDeleteLink($prototype);

                    // On ajoute le prototype modifié à la fin de la balise <div>
                    $container.append($prototype);

                    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                    index++;
                }

                // La fonction qui ajoute un lien de suppression d'une catégorie
                function addDeleteLink($prototype) {
                    // Création du lien
                    var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                    // Ajout du lien
                    $prototype.append($deleteLink);

                    // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                    $deleteLink.click(function(e) {
                        $prototype.remove();

                        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                        return false;
                    });
                }
            });

  //*******************************************\\
 //*************   Stepper Script   ************\\
//***********************************************\\

            $("#A").click(function(){
                $(".B").removeClass("hidden").addClass("show");
                $(".A").addClass("hidden");
            });

            $("#B").click(function(){
                $(".B").removeClass("show").addClass("hidden");
                $(".C").removeClass("hidden").addClass("show");
            });

        </script>
    {% endblock %}

